<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <p class="headerText"> Система управління вмістом бази даних </p>                
    </div>

    <div class="wrapper">
        <div class="leftBar">
            <p class="leftBarText"> Операції з таблицями бази даних </p>
            <ul class="tablesList">
                <li class="tablesListItem"><a class="button" asp-controller="Category" asp-action="Index"> Категорії </a></li>
                <li class="tablesListItem"><a class="button" asp-controller="SubCategory" asp-action="Index"> Субкатегорії </a></li>
                <li class="tablesListItem"><a class="button" asp-controller="Attribute" asp-action="Index"> Атрибути </a></li>
                <li class="tablesListItem"><a class="button" href=""> Пресети </a></li>
                <li class="tablesListItem"><a class="button" href=""> Товари </a></li>
                <li class="tablesListItem"><a class="button" href=""> Знижки </a></li>
                <li class="tablesListItem"><a class="button" href=""> Замовлення </a></li>
                <li class="tablesListItem"><a class="button" href=""> Користувачі </a></li>
                <li class="tablesListItem"><a class="button" href=""> Архів цін </a></li>
            </ul>
        </div>
    
        <div class="content">    
            @RenderBody()
        </div>
    </div>
    
    <div class="footer">
        <p class="footerText"> System of managing database content by Vozniuk Vladyslav </p>
    </div>
</body>
</html>