@using ECommerce.Data;
@model List<Category>

<script src="~/js/adders.js"></script>
<script src="~/js/updaters.js"></script>
<script src="~/js/deleters.js"></script>
<script src="~/js/jQuery.js"></script>

<div class="form">
    <p class="formHeader"> Додати нову категорію товарів </p>
    <form action="post" autocomplete="off" spellcheck="false">
        <input class="formInput" id="inputName" type="text" name="Category.Name" placeholder="Введіть назву категорії">
        <a class="formButton" onclick="addCategory('inputName')"> Додати </a>
    </form>
</div>

<hr>

@for(int i = 0; i < Model.Count; i++) {
    <div class="form">
        <p class="formHeader"> №@(i + 1) </p>
        <form action="post" autocomplete="off" spellcheck="false">
            <input id="formInputId@(i)" readonly class="formInput" type="text" name="Category.Id" value="@Model[i].Id">
            <input id="formInputName@(i)" class="formInput" type="text" name="Category.Name" value="@Model[i].Name" placeholder="Введіть назву категорії">
            <table class="buttonsHolder">
                <tr>
                    <td><a class="button" onclick="updateCategory('formInputId@(i)', 'formInputName@(i)')">Змінити</a></td>
                    <td><a class="button deleteButton" onclick="deleteCategory('formInputId@(i)')">Видалити</a></td>
                </tr>
            </table>
        </form>
    </div>
}